header {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

header:hover {
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
}

header a {
  color: #fff;
}

header .btn {
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header ul {
  position: relative;
}

header ul:hover .btn {
  opacity: 1;
}

header ul::before {
  width: 40rem;
  height: 40rem;
  content: "";
  z-index: -1;
  position: absolute;
  top: -15%;
  left: -90%;
  border-radius: 50%;
  border: 2px solid rgba(252, 225, 252, 0.445);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

header ul:hover::before {
  -webkit-box-shadow: inset 0 0 700px 20px #ffb7b7;
          box-shadow: inset 0 0 700px 20px #ffb7b7;
}

#top .name {
  color: #fff;
  -webkit-box-shadow: inset 0 0 500px 5px rgba(255, 183, 183, 0.849);
          box-shadow: inset 0 0 500px 5px rgba(255, 183, 183, 0.849);
}

#top .name span {
  color: #ffb7b7;
}

#top .bg {
  position: relative;
  overflow: hidden;
}

#top .bg::before {
  content: "";
  position: absolute;
  top: -30%;
  left: -50%;
  z-index: 1;
  background-color: #ffb7b7;
  -webkit-box-shadow: inset 0 0 200px 50px rgba(252, 225, 252, 0.445);
          box-shadow: inset 0 0 200px 50px rgba(252, 225, 252, 0.445);
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

#top .bg::after {
  content: "";
  position: absolute;
  bottom: -40%;
  right: -50%;
  z-index: 1;
  background-color: #fff;
  opacity: 0.3;
  -webkit-box-shadow: inset 0 0 200px 50px rgba(255, 183, 183, 0.849);
          box-shadow: inset 0 0 200px 50px rgba(255, 183, 183, 0.849);
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#concept .img-box {
  position: relative;
}

#concept .img-box::before {
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: rgba(255, 183, 183, 0.849);
}

#bg-shape {
  position: relative;
}

#bg-shape::before {
  width: 130vw;
  height: 20vw;
  content: "";
  z-index: -10;
  position: absolute;
  top: 0;
  left: -10%;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(rgba(252, 225, 252, 0.445)), color-stop(rgba(255, 183, 183, 0.849)), to(#ffb7b7));
  background: linear-gradient(90deg, #fff, rgba(252, 225, 252, 0.445), rgba(255, 183, 183, 0.849), #ffb7b7);
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

#menu .container .slider {
  position: relative;
}

#menu .container .slider::before {
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: rgba(255, 183, 183, 0.849);
}

#menu .container .slider::after {
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1;
  position: absolute;
  top: -10%;
  left: -10%;
  background-color: rgba(255, 190, 130, 0.842);
}

#menu .container .slider-txt .txt01 {
  background-color: rgba(252, 225, 252, 0.445);
}

#menu .container .slider-txt .txt02 {
  background-color: rgba(255, 190, 130, 0.842);
}

#menu .container .slider-txt .txt03 {
  background-color: rgba(255, 183, 183, 0.849);
}

#menu .container .slider-txt .txt04 {
  background-color: rgba(252, 225, 252, 0.445);
}

#menu .container .slider-txt .txt05 {
  background-color: rgba(255, 190, 130, 0.842);
}

#menu .container .slider-txt .txt06 {
  background-color: rgba(255, 183, 183, 0.849);
}

#menu .container .slick-prev:before,
#menu .container .slick-next:before {
  color: #ffb7b7;
}

#view .lg {
  position: relative;
}

#view .lg::before {
  width: 130vw;
  height: 20vw;
  content: "";
  z-index: -10;
  position: absolute;
  bottom: -30%;
  left: -10%;
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(rgba(252, 225, 252, 0.445)), color-stop(rgba(255, 183, 183, 0.849)), to(#ffb7b7));
  background: linear-gradient(90deg, #fff, rgba(252, 225, 252, 0.445), rgba(255, 183, 183, 0.849), #ffb7b7);
  -webkit-transform: rotate(170deg);
          transform: rotate(170deg);
}

#view .lg::after {
  width: 130vw;
  height: 20vw;
  content: "";
  z-index: -10;
  position: absolute;
  bottom: -130%;
  left: -10%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(252, 225, 252, 0.445)), color-stop(rgba(255, 183, 183, 0.849)), to(#ffb7b7));
  background: linear-gradient(90deg, rgba(252, 225, 252, 0.445), rgba(255, 183, 183, 0.849), #ffb7b7);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

#reserve a {
  color: #ffb7b7;
  border: 3px solid #ffb7b7;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#reserve a:hover {
  color: #fff;
  background-color: #ffb7b7;
}

#bg-shape02 {
  position: relative;
}

#bg-shape02::before {
  width: 130vw;
  height: 20vw;
  content: "";
  z-index: -10;
  position: absolute;
  top: -100%;
  left: -10%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(252, 225, 252, 0.445)), color-stop(rgba(255, 183, 183, 0.849)), to(#ffb7b7));
  background: linear-gradient(270deg, rgba(252, 225, 252, 0.445), rgba(255, 183, 183, 0.849), #ffb7b7);
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

footer {
  background-color: rgba(252, 225, 252, 0.445);
}

footer a {
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

footer a:hover {
  background-color: #ffb7b7;
}

footer a:hover .fab {
  color: #fff;
}

footer a .fab {
  color: #ffb7b7;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/*# sourceMappingURL=color.css.map */