@import url("./normalize.css");
@import url("./font.css");
@import url("./color.css");
@import url("./reset.css");
@import url("../js/slick-orig/slick-theme.css");
@import url("../js/slick-orig/slick.css");

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

#page {
    overflow: hidden;
    width: 100%;
}

section {
    width: 100vw;
    max-width: 100%;
}

.section-title {
    z-index: 101;
    opacity: 0;
    transform: translateY(20rem);
    transition: all 0.5s ease;
}

.fadein {
    opacity: 0;
    transform: translateY(20rem);
    transition: all 1s ease-out;
}

.inner {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

}

#top {
    .bg {
        width: 100%;
        height: 100%;
        z-index: -10;
        #bg-video {
            width: 100%;
            height: 100%;
        }       
    }
    .name {
        padding: 1rem;
        position: absolute;
        top: 5%;
        right: 2%;
        border-radius: 50%;
        h2 {
            text-align: center;
        }
    }
}

#concept {
    margin-top: 16rem;
    position: relative;
    .section-title {
        position: absolute;
        top: -20%;
        left: 45%;
        @include tab {
            left: 30%;
        }
    }
    .container {
        position: relative;
        .img-box {
            width: fit-content;
            margin: 0 0 0 auto;
            img {
                width: 60rem;
                max-width: 100%;
                height: auto;
                @include tab {
                    width: 100vw;
                    opacity: 0.8;
                }
            }
        }
        .txt-box {
            width: 60rem;
            position: absolute;
            bottom: 20%;
            left: 10%;
            z-index: 2;
            @include tab {
                left: 0;
                width: 30rem;
                margin: 0 5rem 0;
            }
            @include sp {
                bottom: 10%;
            }
        }
    }
}

#menu {
    margin-top: 24rem;
    position: relative;
    .section-title {
        position: absolute;
        top: -15%;
        left: 30%;
    }
    .container {
        display: flex;
        width: 80vw;
        max-width: 100%;
        @include pc {
            flex-direction: column;
            margin: 0 auto;
        }
        @include sp {
            width: 100vw;
        }
        ul {
            width: 40rem;
            max-width: 100%;
            padding: 0;
        }
        img {
            width: 40rem;
            height: 40rem;
            @include sp {
                width: 20rem;
                height: 20rem;
            }
        }
        .slider {
            margin-left: 8rem;
        }
        .slider-txt {
            width: 40rem;
            max-width: 100%;
            div {
                text-align: start;
                margin: 8rem 0 0 2rem;
                padding: 1rem;
                width: 40rem;
                max-width: 100%;
                @include tab {
                    width: 30rem;
                }
            }
        }
    }
}

#view {
    margin-top: 16rem;
    position: relative;
    .section-title {
        position: absolute;
        top: 0;
        left: 15%;
    }
    .img-box {
        width: fit-content;
    }
    .lg {
        img {
            width: 100vw;
        }
    }
    .md {
        margin: 8rem auto 0 0;
        img {
            width: 50vw;
        }
    }
    .sm {
        margin: -24rem 0 0 auto;
        float: right;
        @include sp {
            margin-top: -16rem;
        }
        img {
            width: 40vw;

        }
    }

    .inner {
        p {
            width: 40rem;
            max-width: 100%;
            margin: 8rem;
            @include tab {
                width: 20rem;
            }
        }    
    }
}

#reserve {
    clear: right;
    margin-top: 24rem;
    position: relative;
    .section-title {
        position: absolute;
        top: -40%;
        left: 10%;
        transform: rotate(-5deg);
    }
    .btn {
        text-align: center;
        a {
            display: inline-block;
            padding: 2rem;
            margin: 8rem 0 16rem;
        }    
    }
}

footer {
    .access {
        width: 60rem;
        max-width: 100%;
        margin: 0 auto;
        padding: 8rem 0;
        display: flex;
        @include tab {
            flex-direction: column;
        }
        .access-txt {
            @include tab {
                text-align: center;
                margin-bottom: 4rem;
            }
            h4 {
                margin-bottom: 2rem;
            }
            a {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                padding: 1rem;
                text-align: center;
                line-height: 3rem;
                border-radius: 50%;
                margin: 2rem 1rem 0;
            }
        }
        .place {
            width: fit-content;
            margin: 0 0 0 auto;
            @include tab {
                margin: 0 auto;
            }
        }    
    }
    .copy {
        padding: 4rem 0;
        p {
            text-align: center;
        }
    }
}